
.Item {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.Item a {
  color: #8F5C2C;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.Item a:hover, .Item a:active, .Item a.active {
  color: rgb(255, 123, 0);
}

@media (min-width: 500px) {
  .Item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  
  .Item a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .Item a:hover, .Item a:active, .Item a.active {
    background-color: rgba(255,255,255,.1);
    border-bottom: 4px solid rgb(235, 115, 3);
    color: white;
  }
} 