.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  text-align: center;
}

.Ingredient {
  text-transform: capitalize;
  display: inline-block;
  margin: 0 8px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 6px;
  color: white;
  text-shadow: 0 2px 2px black;
}

.withoutIngred {
  background-color: rgb(255, 84, 84);
}

.withIngred {
  background-color: rgb(65, 177, 65);
}