.BuildControls {
  width: 100%;
  background-color: #CF8F2E;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #CCC;
  padding: 15px 0;
  border-top: 3px solid black;
}

.Price {
  font-size: 1.5rem;
  background-color: rgba(255,255,255,.1);
  border-radius: 10px;
  padding: 10px;
}