.btn_store_result {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border-radius: 5px;
}

.Result {
  background-color: #EEE;
  width: 50px;
  margin: 10px auto;
  list-style-type: none;
  padding: 10px;
  border-radius: 8px;
  user-select: none;
  font-weight: bold;
}

.Result:hover {
  background-color: #CCC;
}

