
.Person {
  width: 60%;
  margin: 26px auto;
  border: 2px solid #eee; 
  box-shadow: 0 2px 3px #ccc;
  padding: 15px;
  text-align: center;
}

.deleteBtn {
  background-color: red;
  border: 1px solid red;
  padding: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.deleteBtn:hover {
  background-color: salmon;
}

@media (max-width: 500px) {
  .Person {
    background-color: yellow;
  }
}