.NoOrders {
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 150px;
  background-color: rgba(204, 204, 204, 0.705);
  width: 50%;
  padding: 25px;
  border-radius: 100px;
  box-shadow: 0 2px 5px #ccc;
  text-shadow: 0 1px 5px rgb(116, 116, 116);
}