.Input {
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
}

.InputElement:focus {
  outline: none;
  background-color: #EEE;
}

.Valid, .Valid:hover {
  border: 2px solid green;
  background-color: rgba(82, 153, 82,.2);
}

.Invalid {
  border: 1px solid red;
}

@media(min-width: 500px) {
  .Input {
    width: 400px;
  }
}
